 body{
 	padding-top: 10px;
    padding-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
 }

.container-all {
	width: 68%;
	margin-right: auto;
    margin-left: auto;
}

.jumbotron {
    padding: 48px;
}

.contents {
    padding-left: 48px;	
    padding-right: 48px;	
}

.shoppingcartproductid {
	display: none;
}